<mat-card>
    <mat-card-header>
        <mat-card-title>{{ this.service.information().details.title }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-list>
            <mat-list-item>
                {{this.service.information().details.description}}
            </mat-list-item>
            <mat-divider />
            <mat-list-item>
                {{this.service.information().details.population}}
            </mat-list-item>
            <mat-divider />
            <mat-list-item>
                {{this.service.information().details.rate}}
            </mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>