<mat-card>
  <mat-card-header>
    <mat-card-title>Filtrar Dados</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="filterForm" class="flex flex-col gap-4 md:gap-6">

      <mat-form-field appearance="fill" class="flex-1">
        <mat-label>Estado</mat-label>
        <div class="flex items-center">
          <mat-select formControlName="estado">
            @for (estado of estados; track estado.district) {
              <mat-option [value]="estado.district.toLowerCase()">{{ estado.details.title }}</mat-option>
            }
          </mat-select>
          @if (isLoadingEstados) {
            <mat-spinner diameter="20" class="ml-2"></mat-spinner>
          }
        </div>
        @if (filterForm.get('estado')?.value && estados.length === 0 && !isLoadingEstados) {
          <mat-hint class="text-red-500">Falha ao carregar estados.</mat-hint>
        }
      </mat-form-field>

      <mat-form-field appearance="fill" class="flex-1">
        <mat-label>Cidade</mat-label>
        <div class="flex items-center">
          <mat-select formControlName="cidade">
             @if (!filterForm.get('estado')?.value && !isLoadingCidades) {
              <mat-option disabled>Selecione um estado primeiro</mat-option>
             }
            @for (cidade of cidades; track cidade.district) {
              <mat-option [value]="cidade.district">{{ cidade.details.nome }}</mat-option>
            }
          </mat-select>
          @if (isLoadingCidades) {
            <mat-spinner diameter="20" class="ml-2"></mat-spinner>
          }
        </div>
         @if (filterForm.get('estado')?.value && cidades.length === 0 && !isLoadingCidades && !filterForm.get('cidade')?.disabled) {
          <mat-hint class="text-red-500">Nenhuma cidade encontrada ou falha ao carregar.</mat-hint>
        }
      </mat-form-field>
    </form>
  </mat-card-content>
  </mat-card>