<div class="bg-[--gray-0] items-center px-8 pt-16 flex flex-col !h-full sm:px-20 md:px-96">
  <div class="about">
    <h1 class="text-4xl !font-extrabold text-[--purple-3] mb-8 w-full">
      Projeto Despertar
    </h1>
    <p class="text-justify">
      O <span class="hover:bg-[--purple-2] hover:p-1 hover:text-white transition-all">Projeto Despertar</span>
      é uma iniciativa que busca transformar a realidade da saúde materna no Rio
      Grande do Norte. Nossa missão é capacitar os profissionais de saúde da
      Atenção Primária (APS) para oferecer um cuidado integral e de qualidade às
      mulheres durante o ciclo gravídico puerperal, contribuindo para a redução
      da mortalidade materna no estado.
    </p>

    <p class="text-justify">
      Inspirados pela urgente necessidade de melhorar os indicadores de saúde
      materna no Brasil, especialmente no Nordeste, o <span class="hover:bg-[--purple-2] hover:p-1 hover:text-white transition-all">Projeto Despertar</span>
      se concentra em fortalecer a atuação dos Agentes Comunitários de Saúde
      (ACS) e demais profissionais da APS. Acreditamos que, ao investir na
      educação continuada e no desenvolvimento de habilidades desses
      profissionais, podemos prevenir complicações e garantir um parto mais
      seguro para todas as mulheres.
    </p>
  </div>

  <div class="objectives mt-12">
    <h1 class="text-4xl !font-extrabold text-[--purple-3] mb-8 w-full max-w-[384px]">Objetivos</h1>
    <p class="text-justify">
      <span class="text-[--purple-1] font-bold">Diagnosticar</span>: Realizar um
      levantamento detalhado da situação atual da saúde materna no RN,
      identificando as principais necessidades e desafios. Capacitar:
      Desenvolver e implementar programas de educação continuada, utilizando
      metodologias inovadoras e linguagem acessível, para que os profissionais
      da APS possam aprimorar seus conhecimentos e habilidades.
    </p>
    <p class="text-justify">
      <span class="text-[--purple-1] font-bold">Transformar</span>: Contribuir
      para a construção de uma rede de cuidado mais eficiente e humanizada, onde
      a mulher seja o centro das atenções e tenha seus direitos garantidos. Por
      que o
      <span class="hover:bg-[--purple-2] hover:p-1 hover:text-white transition-all">Projeto Despertar</span>
      é importante?
    </p>
    <p class="text-justify">
      A mortalidade materna é um problema de saúde pública que afeta milhares de
      famílias brasileiras. Ao investir na capacitação dos profissionais de
      saúde e na promoção da educação em saúde, o
      <span class="hover:bg-[--purple-2] hover:p-1 hover:text-white transition-all">Projeto Despertar</span>
      busca:
    </p>
    <ul>
      <li class="mb-2">
        <span class="text-[--purple-1] font-bold">Reduzir a mortalidade materna</span>
        : Através da identificação precoce de riscos e da oferta de um cuidado
        mais qualificado.
      </li>
      <li class="mb-2">
        <span class="text-[--purple-1] font-bold">Promover a equidade</span>:
        Garantindo que todas as mulheres tenham acesso a serviços de saúde de
        qualidade, independentemente de suas condições sociais.
      </li>
      <li>
        <span class="text-[--purple-1] font-bold">Fortalecer o Sistema Único de Saúde (SUS)</span>
        : Contribuindo para a melhoria da qualidade dos serviços oferecidos na
        Atenção Primária.
      </li>
    </ul>
  </div>

  <div class="us mt-12 mb-16">
    <h1 class="text-4xl !font-extrabold text-[--purple-3] mb-8 w-full max-w-[384px]">Quem somos</h1>
    <ul>
      <li>
        <div>
          <h2>Adriana Gomes Magalhães</h2>
          <div class="flex justify-center my-10 sm:justify-normal">
            <img class="w-[200px] sm:w-[250px] rounded-xl" src="adrianamagalhaes.gif" alt="Adriana Gomes Magalhães" />
          </div>
          <p class="text-justify">
            Possui graduação em Fisioterapia pela Universidade Federal da
            Paraíba (1997), mestrado em Engenharia Biomédica pela Universidade
            Federal da Paraíba (2002) e Doutorado em Fisioterapia pelo Programa
            de pós Graduação em Fisioterapia pela Universidade Federal do Rio
            Grande do Norte (2016). Atualmente é professora associada da
            Universidade Federal do Rio Grande do Norte. É membro do corpo
            docente dos Programas de Pós-Graduação em Saúde Coletiva e Ciências
            da Reabilitação (UFRN). Tem experiência na área de Fisioterapia na
            Saúde da Mulher (Obstetrícia), Materno- Infantil. Possui interesse
            nas aréas de saúde coletiva e saúde da mulher e funcionalidade.
          </p>
          <a class="mt-4" mat-raised-button target="_blank" [href]="'http://lattes.cnpq.br/5918222264099117'">Currículo Lattes</a>
        </div>
      </li>

      <li>
        <div class="mt-12">
          <h2>Anna Cecília Queiroz de Medeiros</h2>
          <div class="flex justify-center my-10 sm:justify-normal">
            <img class="w-[200px] sm:w-[250px] rounded-xl" src="annacecilia.gif" alt="Anna Cecília Queiroz de Medeiros" />
          </div>
          <p class="text-justify">
            Possui graduação em Nutrição pela Universidade Federal do Rio Grande
            do Norte (2003), mestrado em Ciências da Saúde pela Universidade
            Federal do Rio Grande do Norte (2008) e doutorado em Psicobiologia
            pela Universidade Federal do Rio Grande do Norte (2016). Atualmente
            é professor da Universidade Federal do Rio Grande do Norte. Tem
            experiência na área de Nutrição, atuando principalmente nos
            seguintes temas: comportamento alimentar, comportamentos de saúde, e
            saúde materno infantil.
          </p>
        </div>
        <a class="mt-4" mat-raised-button target="_blank" [href]="'http://lattes.cnpq.br/6897910777769874'">Currículo Lattes</a>
      </li>

      <li>
        <div class="mt-12">
          <h2>Leonildo Santos do Nascimento Júnior</h2>
          <div class="flex justify-center my-10 sm:justify-normal">
            <img class="w-[200px] sm:w-[250px] rounded-xl" src="leonildo.gif" alt="Leonildo Santos do Nascimento Júnior" />
          </div>
          <p class="text-justify">
            É Doutor em Fisioterapia pela Universidade Federal do Rio Grande do
            Norte - UFRN (2021), Mestre em Engenharia Humana pela Universidade
            do Minho - Portugal (2011) com revalidação pelo Ministério da
            Educação e graduado em Fisioterapia pela Universidade Federal da
            Paraíba - UFPB (2009). Especialista em Fisioterapia do Trabalho pela
            Associação Brasileira de Fisioterapia do Trabalho (ABRAFIT),
            reconhecido pelo Conselho Federal de Fisioterapia e Terapia
            Ocupacional - COFFITO (2017). Atualmente é professor adjunto da
            Universidade Federal da Paraiba (UFPB). Interessa-se em
            Fisioterapia, Saúde do Trabalhador, Reumatologia, Saúde Coletiva e
            Preventiva, Ergonomia e Engenharia Humana com ênfase no estudo do
            movimento e biomecânica, Metodologias Ativas de Ensino, Educação em
            Saúde.
          </p>
        </div>
        <a class="mt-4" mat-raised-button target="_blank" [href]="'http://lattes.cnpq.br/2458971770021915'">Currículo Lattes</a>
      </li>

      <li>
        <div class="mt-12">
          <h2>Fernanda Diniz de Sá</h2>
          <div class="flex justify-center my-10 sm:justify-normal">
            <img class="w-[200px] sm:w-[250px] rounded-xl" src="fernandadiniz.gif" alt="Fernanda Diniz de Sá" />
          </div>
          <p class="text-justify">
            Professora Adjunta da Universidade Federal do Rio Grande do Norte.
            Docente da área de Saúde Coletiva no curso de Graduação em
            Fisioterapia - UFRN (campus FACISA). Graduação em Fisioterapia pela
            Universidade Federal da Paraíba. Doutora em Sociologia
            (concentração: Saúde, Corpo e Sociedade) pela UFPB, com estágio
            realizado na Sorbonne Paris Nord. Possui experiência e interesse no
            ensino-pesquisa-extensão dentro do campo interdisciplinar de
            conhecimento entre ciências sociais e saúde, com enfoque em trabalho
            do care e nas intersecionalidades e determinantes sociais envolvendo
            deficiência, gênero, classe, geracionais e de trabalho com impacto
            na saúde.
          </p>
        </div>
        <a class="mt-4" mat-raised-button target="_blank" [href]="'http://lattes.cnpq.br/5158327085088787'">Currículo Lattes</a>
      </li>

      <li>
        <div class="mt-12">
          <h2>Mayra Ruana de Alencar</h2>
          <div class="flex justify-center my-10 sm:justify-normal">
            <img class="w-[200px] sm:w-[250px] rounded-xl" src="mayraruana.gif" alt="Mayra Ruana de Alencar" />
          </div>
          <p class="text-justify">
            Professora Adjunta do curso de Fisioterapia da Universidade Federal
            do Rio Grande do Norte - UFRN. Doutora em Saúde da Criança e do
            Adolescente pela Universidade Federal de Pernambuco (2022). Mestre
            em Hebiatria - Determinantes de Saúde na Adolescência pela
            Universidade de Pernambuco (2016). Fisioterapeuta graduada pela
            Universidade de Pernambuco (2013). Desenvolve pesquisas acerca dos
            temas: atividade física, adolescentes, gravidez na adolescência,
            gestação, distúrbios menstruais e atividades de vida diária.
          </p>
          <a class="mt-4" mat-raised-button target="_blank" [href]="'http://lattes.cnpq.br/1331927929508315'">Currículo Lattes</a>
        </div>
      </li>

      <li>
        <div class="mt-12">
          <h2>Dimitri Taurino Guedes</h2>
          <div class="flex justify-center my-10 sm:justify-normal">
            <img class="w-[200px] sm:w-[250px] rounded-xl" src="dimitritaurino.gif" alt="Dimitri Taurino Guedes" />
          </div>
          <p class="text-justify">
            Possui graduação em fisioterapia (2000), especialização em recursos
            cinesioterapêuticos (2004) e mestrado em engenharia de produção pela
            Universidade Federal da Paraíba (2003). Doutor em ciências da saúde
            (2015) com especialização em gerontologia (2019) pela Universidade
            Federal do Rio Grande do Norte. Atualmente é Professor Associado nos
            cursos de graduação em fisioterapia e pós-graduação em saúde
            coletiva da Faculdade de Ciências da Saúde do Trairi - FACISA da
            Universidade Federal do Rio Grande do Norte.''
          </p>
        </div>
        <a class="mt-4" mat-raised-button target="_blank" [href]="'http://lattes.cnpq.br/7575524707167845'">Currículo Lattes</a>
      </li>

      <li>
        <div class="mt-12">
          <h2>Luciane Paula Batista Araújo de Oliveira</h2>
          <div class="flex justify-center my-10 sm:justify-normal">
            <img class="w-[200px] sm:w-[250px] rounded-xl" src="lucianepaula.gif" alt="Luciane Paula Batista Araújo de Oliveira" />
          </div>
          <p class="text-justify">
            Possui graduação em Enfermagem pela Universidade Federal do Rio
            Grande do Norte - UFRN (2006), graduação em Licenciatura plena em
            enfermagem pela UFRN (2007), mestrado em Enfermagem - Área de
            concentração "Assistência à saúde" - pelo PGENF/UFRN (2008) e
            Doutorado em Enfermagem - Área de Concentração "Filosofia, Saúde e
            Sociedade" - pela Universidade Federal de Santa Catarina (2015).
            Atualmente é Professora Associada do curso de Enfermagem da
            Faculdade de Ciências da Saúde do Trairi (FACISA), da Universidade
            Federal do Rio Grande do Norte (campus Santa Cruz/RN). Docente
            Permanente do Programa de Pós-graduação em Saúde Coletiva da
            UFRN/FACISA (PPGSACOL/UFRN). Coordenadora do Departamento Científico
            de Enfermagem Gerontológica (DCEG) da Associação Brasileira de
            Enfermagem - seção RN. Tem experiência na área de Enfermagem,
            atuando principalmente nos seguintes temas: envelhecimento, Atenção
            Primária à Saúde, Promoção da Saúde, Políticas públicas, Gestão,
            Sistema Único de Saúde, semiologia e semiotécnica da enfermagem e
            segurança do paciente.
          </p>
        </div>
        <a class="mt-4" mat-raised-button target="_blank" [href]="'http://lattes.cnpq.br/6856229797544372'">Currículo Lattes</a>
      </li>

      <li>
        <div class="mt-12">
          <h2>Alaine Souza Lima Rocha</h2>
          <div class="flex justify-center my-10 sm:justify-normal">
            <img class="w-[200px] sm:w-[250px] rounded-xl" src="alainesouza.gif" alt="Alaine Souza Lima Rocha" />
          </div>
          <p class="text-justify">
            Doutora em Ciências da Saúde pela Universidade de Pernambuco (2021).
            Mestre em Hebiatria - Determinantes de Saúde na Adolescência pela
            Universidade de Pernambuco (2016). Especialista em Fisioterapia em
            Ortopedia e Traumatologia pela Faculdade Inspirar (2016). Graduada
            em Fisioterapia pela Universidade de Pernambuco (2013). Atualmente,
            é Professora Adjunta do Departamento de Fisioterapia da Universidade
            Federal do Ceará. Membro do Grupo de Pesquisas em Desempenho Humano
            (GPEDH) e do Grupo de Pesquisa em Fisioterapia na Saúde da Mulher
            (CNPQ).
          </p>
        </div>
        <a class="mt-4" mat-raised-button target="_blank" [href]="'http://lattes.cnpq.br/2899363810514618'">Currículo Lattes</a>
      </li>

      <li>
        <div class="mt-12">
          <h2>José Jailson de A. Júnior</h2>
          <div class="flex justify-center my-10 sm:justify-normal">
            <img class="w-[200px] sm:w-[250px] rounded-xl" src="josejailson.gif" alt="José Jailson de A. Júnior" />
          </div>
          <p class="text-justify">
            Possui graduação em Enfermagem pela Universidade Federal do Rio Grande do Norte (UFRN), mestrado em Enfermagem pela UFRN e doutorado em Educação pela UFRN. Especialista em Docência na Saúde pela Universidade Federal do Rio Grande do Sul (UFRS) e Especialista em Informática na Saúde pela UFRN. Atualmente é Professor Associado da UFRN, Departamento de Saúde Coletiva. Docente do Mestrado Profissional em Gestão, trabalho, educação e saúde (MPGTES), Mestrado Acadêmica em Saúde Coletiva (PPGSacol) e coordenador do bacharelado em Saúde Coletiva da UFRN. Membro do Grupo Interdisciplinar de Estudos em Ciência, Saúde e Sociedade. Áreas de interesse: Educação na Saúde, Ciências Humanas e Sociais na Saúde, Pesquisa Qualitativa.
          </p>
        </div>
        <a class="mt-4" mat-raised-button target="_blank" [href]="'http://lattes.cnpq.br/8768677759534396'">Currículo Lattes</a>
      </li>

      <!-- <li>
        <div class="mt-12">
          <h2>Chyrlly Elidiane de Moura</h2>
          <img src="" alt="" />
          <p class="text-justify"></p>
        </div>
        <a class="mt-4" mat-raised-button target="_blank" [href]="''">Currículo Lattes</a>
      </li> -->

      <li>
        <div class="mt-12">
          <h2>Wanessa Cristina Tomaz dos Santos Barros</h2>
          <div class="flex justify-center my-10 sm:justify-normal">
            <img class="w-[200px] sm:w-[250px] rounded-xl" src="wanessacristina.gif" alt="Wanessa Cristina Tomaz dos Santos Barros" />
          </div>
          <p class="text-justify">
            Possui graduação em Enfermagem pela Universidade Federal do Rio Grande do Norte (2003), graduação em licenciatura em Enfermagem pela Universidade Federal do Rio Grande do Norte (2004), Especialização na modalidade Residência em Enfermagem pela Secretaria de Saúde Pública de Pernambuco (2006), mestrado em Enfermagem pela Universidade Federal do Rio Grande do Norte (2008) e doutorado em Enfermagem pela Universidade Federal de Santa Catarina (2015).
            Atualmente é professora da Universidade Federal do Rio Grande do Norte e do mestrado RENASF nucleadora UFRN. Possui experiência e interesse no ensino-pesquisa-extensão dentro seguintes campos de conhecimento: Saúde Coletiva, Saúde mental, morte/morrer e Segurança do Paciente.
          </p>
        </div>
        <a class="mt-4" mat-raised-button target="_blank" [href]="'http://lattes.cnpq.br/1499146101830829'">Currículo Lattes</a>
      </li>

    </ul>
  </div>
</div>
