<div class="bg-[--gray-0] items-center px-8 pt-16 flex flex-col !h-full sm:px-20 md:px-96">
  <div>
    <img src="image.png" />
  </div>
  <div class="about">
    <h1 class="text-4xl !font-extrabold text-[--purple-3] mb-8 w-full">
      Projeto Despertar
    </h1>
    <p class="text-justify">
      O <span class="hover:bg-[--purple-2] hover:p-1 hover:text-white transition-all">Projeto Despertar</span>
      é uma iniciativa que busca transformar a realidade da saúde materna no Rio
      Grande do Norte. Nossa missão é capacitar os profissionais de saúde da
      Atenção Primária (APS) para oferecer um cuidado integral e de qualidade às
      mulheres durante o ciclo gravídico puerperal, contribuindo para a redução
      da mortalidade materna no estado.
    </p>

    <p class="text-justify">
      Inspirados pela urgente necessidade de melhorar os indicadores de saúde
      materna no Brasil, especialmente no Nordeste, o <span class="hover:bg-[--purple-2] hover:p-1 hover:text-white transition-all">Projeto Despertar</span>
      se concentra em fortalecer a atuação dos Agentes Comunitários de Saúde
      (ACS) e demais profissionais da APS. Acreditamos que, ao investir na
      educação continuada e no desenvolvimento de habilidades desses
      profissionais, podemos prevenir complicações e garantir um parto mais
      seguro para todas as mulheres.
    </p>
  </div>

  <div class="objectives mt-12">
    <h1 class="text-4xl !font-extrabold text-[--purple-3] mb-8 w-full max-w-[384px]">Objetivos</h1>
    <p class="text-justify">
      <span class="text-[--purple-1] font-bold">Diagnosticar</span>: Realizar um
      levantamento detalhado da situação atual da saúde materna no RN,
      identificando as principais necessidades e desafios. Capacitar:
      Desenvolver e implementar programas de educação continuada, utilizando
      metodologias inovadoras e linguagem acessível, para que os profissionais
      da APS possam aprimorar seus conhecimentos e habilidades.
    </p>
    <p class="text-justify">
      <span class="text-[--purple-1] font-bold">Transformar</span>: Contribuir
      para a construção de uma rede de cuidado mais eficiente e humanizada, onde
      a mulher seja o centro das atenções e tenha seus direitos garantidos. Por
      que o
      <span class="hover:bg-[--purple-2] hover:p-1 hover:text-white transition-all">Projeto Despertar</span>
      é importante?
    </p>
    <p class="text-justify">
      A mortalidade materna é um problema de saúde pública que afeta milhares de
      famílias brasileiras. Ao investir na capacitação dos profissionais de
      saúde e na promoção da educação em saúde, o
      <span class="hover:bg-[--purple-2] hover:p-1 hover:text-white transition-all">Projeto Despertar</span>
      busca:
    </p>
    <ul>
      <li class="mb-2">
        <span class="text-[--purple-1] font-bold">Reduzir a mortalidade materna</span>
        : Através da identificação precoce de riscos e da oferta de um cuidado
        mais qualificado.
      </li>
      <li class="mb-2">
        <span class="text-[--purple-1] font-bold">Promover a equidade</span>:
        Garantindo que todas as mulheres tenham acesso a serviços de saúde de
        qualidade, independentemente de suas condições sociais.
      </li>
      <li>
        <span class="text-[--purple-1] font-bold">Fortalecer o Sistema Único de Saúde (SUS)</span>
        : Contribuindo para a melhoria da qualidade dos serviços oferecidos na
        Atenção Primária.
      </li>
    </ul>
  </div>
</div>
