<main [ngClass] = "mapAnimationClass" class="justify-center items-center">
    @if (mapCode != 'brasil' ) {
        <button (click)="backBrasilMap()">
            <img src="assets/icons/back-arrow.svg"
                class="w-8 h-8"/>
        </button>
    }
    <div [innerHTML]="svgContent" class="items-center justify-center"></div>
    <app-tooltip 
        [description]="tooltipDescription"
        [title]="tooltipTitle"
        [visible]="tooltipVisible"
        [position]="tooltipPosition"/>
</main>