::ng-deep #svg-map path {
    fill: var(--purple-2);
}

::ng-deep .maps {
    @apply stroke-white stroke-[1.0404];
    stroke-linecap: round;
    stroke-linejoin: round;
}
::ng-deep .maps:hover {
    fill: var(--purple-3) !important;
}

::ng-deep #svg-map text {
    fill: #fff;
    font: 12px Arial-BoldMT, sans-serif;
    cursor: pointer
}

::ng-deep #svg-map a {
    text-decoration: none
}

::ng-deep #svg-map a:hover {
    cursor: pointer;
    /* @apply transition-transform transform origin-center cursor-pointer hover:scale-110; */
    text-decoration: none
}

::ng-deep  #svg-map a:hover path {
    fill: var(--purple-3) !important
}

::ng-deep #svg-map .circle {
    fill: var(--purple-1)
}

::ng-deep #svg-map a:hover .circle {
    fill: var(--purple-3) !important; 
    /* fill: #360b41 !important; */
    cursor: pointer
}

/* isso aqui é para ignorar os texts do svg do brasil, assim não atrapalhando
o funcionamento do tooltip */
::ng-deep svg text {
    pointer-events: none;
}

::ng-deep path.circle {
    pointer-events: none;
}