<main class="bg-[--color-seagull-50] space-y-4 items-center justify-center  px-8 pt-16 flex flex-col flex-auto h-screen sm:px-20 md:px-96">
    <div class="md:flex md:flex-row items-center justify-center">
        <!-- <app-map [mapCode]="mapCode()" (exportMapCode)="updateMapCode($event)"/> -->
        <app-map-rn (municipioEscolhido)="onSelectMunicipio($event)" />
        <!-- <app-card-information [mapCode]="mapCode()" /> --> 
        <app-card-filter (selectionChange)="onFilterDataChange($event)" />
    </div>
    @if (dadosMunicipio()) {
        <app-article [mapCode]="mapCodeUp()" [dadosMunicipio]="dadosMunicipio()!"/>
    }
</main>