/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif, "Open Sans", sans-serif;
    box-sizing: border-box;
}
html, body { height: 100%; color: #6d7578; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
  --purple-1: #e6b39a;
  --purple-2: #d78060;
  --purple-3: #ce6141;
  --gray-0: #fafdea;
  --gray-1: #ede3b4;
}
